div#contacte {
	float: left;
	width: 49%;
	margin-right: 1%;
}
div.mapa{
	float: left;
	width: 50%;
}
div#contacte a {
	text-decoration: none;
	color: #63629B;
	font-weight: bold;
}
div#contacte a:hover {
	color: #F5B260;
}