.container{
  display: flex;
  justify-content: space-between;
 /* overflow: hidden;*/
}
.dades_personals{
  border: solid 1px #E6E6E6;
  height: 250px;
  width: 45%;
  padding: 15px;
  padding-bottom: 15px;
  float: left;
}
.dades_anteriors{
  border: solid 1px #E6E6E6;
  height: 250px;
  width: 45%;
  padding: 15px;
  overflow: hidden;
  float: right;
} 


