form>div {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
div #dia_seleccionat, #error {
	display: flex;
	justify-content: center;
}
#error {
	font-style: italic;
	color: red;
}
table td, table th{
	text-align: center;
}
table td{
	padding: 10px 5px;
}
table th:first-child {
	padding-left: 15px;
}
table td:first-child {
	padding-left: 5px;
}
table th:last-child {
	padding-right: 15px;
}
table td:last-child {
	padding-right: 5px;
}
table a {
	display: block;
	text-align: center;
	padding: 0.5em 1em;
	border: 1px solid grey;
	border-radius: 2px;
	text-decoration: none;
	color: white;
	background-color: grey;
	opacity: 1;
	cursor: pointer;
}
table a:hover {
	background-color: lightgrey;
	color: grey;
}
table a.selected {
	background-color: lightgrey;
	color: grey;
}
#calendari td:hover {
	background-color: grey;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}
#calendari .disabled {
	opacity: 0.5;
}
#calendari .disabled:hover {
	background-color: rgba(255,255,255,0);
	color: grey;
	opacity: 1;
}
#calendari .disabled:hover {
	cursor: not-allowed;
}
#calendari .selected {
	background-color: grey;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}
#dades {
	display: none;
}

form div>a {
  display: inline-block;
  border-radius: 50%;
}

a:hover .left:after, a:hover .right:after {
  border-top: 0.5em solid grey /*#e74c3c*/;
  border-right: 0.5em solid grey /*#e74c3c*/;
}
.left:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.right:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right {
	margin-left: 10px;
}