article p, h2 {
  clear: both;
}
.circle {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  /*margin: 0 auto 40px;*/
  border: 3px solid lightgrey;
  float: left; 
}

.iam_blau {
  background-color: #63629B;  
}
.iam_taronja {
  background-color: #F5B260;
  color: black;
}
.iam_body {
  background-color: rgba(255,255,255,0.5);
}
article img {
  width: 100px;
  border: 3px solid lightgrey;
}