.inici>img{
  width: 115%;
  position: relative;
  margin: 0 -1em;
}
form {
	position: absolute;
	z-index: 1;
	background-color: rgba(255,255,255,0.85);
	width: 80%;
	height: 8em;
	left: 10%;
	top: 28em;
}
form input {
	margin-top: 3em;
}
form input[type="text"] {
	margin-left: 30%;
}