body {
  background-image: url('../img/background.jpg');
  background-repeat: repeat;
  font-family: Arial;
  margin: 0 10%;
}
body>*{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
  background-color: #F2F2F2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
header>img {
  margin-left: 16px;
  width: 100px;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #63629B;
}
#navbar li {
  float: left;
  margin: 0;
}
#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#navbar li a:hover {
  background-color: #F5B260;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: black;
}
#navbar .current {
  background-color: #F5B260;
  color: black;
}
div.body {
  clear: both;
  background-color: rgba(255,255,255,0.5);
  padding: 0 1em;
  overflow: hidden;
}
h1, h2 {
  margin-top: 0.2em;
}
footer {
  overflow: hidden;
  color: white;
  font-size: 80%;
  background-color: #63629B;
  border-top: 2px solid #F5B260;
  padding: 0 1em;
}
footer p {
  margin: 1.5em 0;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #F5B260;
}
input[type="text"]:focus {
  border-color: rgb(209, 209, 209);
  background-color: white;
}

#license {
  font-size: 85%;
  margin: 3em 0 5px;
  clear: both;
  cursor: default;
}

div.links {
  float: left;
}
div.wrapper {
  padding-top: 2em;
  float: right;
}


/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

/*facebook*/

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}
/* instagram */

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}